<!DOCTYPE html>
<html>
<head>
  {% load static %}
  {% load i18n %}
  {% load account socialaccount %}
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script data-ad-client="ca-pub-5444509011914766" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="utf-8">
  <!-- <script src="juni.js" charset="utf-8"></script> -->
  <title>{% trans "Sign Up" %}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104974987-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-104974987-5');
  </script>

</head>

<body>

  <!-- header -->
  <div class="header">
    <div class="header_container">
      <h1 class="header-headline">
        <a href="{% url 'ranking:index' %}"><img src="{% static 'img/logo.png' %}" class="header_logo"></a>
      </h1>
      <div class="header_right">
        <div class="header_menu">
            <label for="label1"><div class="header_menuicon"><i class="fas fa-ellipsis-h"></i></div></label>
            <input type="checkbox" id="label1"/>
            <div class="hidden_show">
              <!-- 非表示ここから-->
              <div class="header_menucorner"></div>
              <div class="header_menucorner2"></div>
              <div class="header_menubox">
                <form name="search1" method="GET" action="{% url 'ranking:search_results' %}">{% csrf_token %}
                  <dl class="search1">
                    <dt><input type="text" name="keyword" maxlength="20" required id="id_Post_name" placeholder="ランキング検索"></dt>
                    <dd><button><span></span></button></dd>
                    <!-- <dd><button type="submit" class="sbtn2"><i class="fas fa-search"></i><span></span></button></dd> -->
                  </dl>
                </form>
                <div class="header_menulist"><a href="{% url 'ranking:index' %}"></a>トップページ</div>
                <div class="header_menulist"><a href ="{% url 'ranking:new' %}"></a>ランキング作成</div>
                {% if user.id %}
                <div class="header_menulist hidden"><a href="{% url 'ranking:userpage' user_id=user.id %}"></a>マイページ</div>
                {% else %}
                <div class="header_menulist hidden"><a href="{%url 'account_login'%}?next={{ request.path }}"></a>ログイン</div>
                {% endif %}
                <div class="header_menuborder"></div>
                <div class="header_menulist"><a href="about.html"></a>about</div>
                <div class="header_menulist"><a href="rule.html"></a>利用規約・プライバシーポリシー</div>
                <div class="header_menuborder"></div>
                {% if user.username %}
                <div class="header_menulist"><a href="{%url 'account_logout'%}"></a>ログアウト</div>
                {% endif %}
              </div>
              <!--ここまで -->
            </div>
        </div>
        {% if not user.username %}
        <!-- ログインボタン -->
        <div class="header_account_logout">
          <div class="header_username">ログイン</div>
          <a href="{%url 'account_login'%}?next={{ request.path }}"></a>
        </div>
        {% else %}
        <!-- アカウントボタン -->
            {% if user.first_name %}
            <!-- ツイッターユーザー -->
            <div class="header_account">
              <!-- <div class="header_userimg"><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="header_userimg"></div> -->
              <div class="header_username">{{user.first_name|truncatechars:20}}</div>
            <a href="{% url 'ranking:userpage' user_id=user.id %}"></a>
            </div>
            {% else %}
            <!-- くだらんきんぐユーザー -->
            <div class="header_account">
              <div class="header_username">{{user.username|truncatechars:20}}</div>
            <a href="{% url 'ranking:userpage' user_id=user.id %}"></a>
            </div>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
<!-- header終わり -->




<div class="main">

    <!-- <div class="login_left"> -->
    <div class="category">
      <h2 class="category_title">{% trans "Change Password" %}</h2>
    </div>

    <div class="article_container">
      {% if messages %}
      <div>
        <ul>
          {% for message in messages %}
          {% if not message is "ログアウトしました。" %}
            <p>{{message}}</p>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <form class="password_change" id="signup_form" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <!-- {{form.as_ul}} -->
        <div class="login_note"><font color="red">{{form.non_field_errors}}<font></div>
        {% for field in form %}
            <div class="cp_iptxt">{{field}}</div>
            <div class="login_note"><font color="red">{{field.errors}}<font></div>
            <!-- <ul>{{ field.errors }}</ul> -->
        {% endfor %}
        <div class="article_contents_more">
          <div class="sankasiyo">
            <button type="submit" class="article_more">{% trans "Change Password" %}</button>
        </div>
        </div>
      </form>

  </div>

  </div>
</body>

</html>


<!-- <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action">{% trans "Change Password" %}</button>
</form> -->
