<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script data-ad-client="ca-pub-5444509011914766" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="utf-8">
  <title>ランキングサイトです。</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104974987-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-104974987-5');
  </script>

</head>
<body>

  <!-- header -->
  <div class="header">
    <div class="header_container">
      <h1 class="header-headline">
        <a href="{% url 'ranking:index' %}"><img src="{% static 'img/logo.png' %}" class="header_logo"></a>
      </h1>
      <div class="header_right">
        <div class="header_menu">
            <label for="label1"><div class="header_menuicon"><i class="fas fa-ellipsis-h"></i></div></label>
            <input type="checkbox" id="label1"/>
            <div class="hidden_show">
              <!-- 非表示ここから-->
              <div class="header_menucorner"></div>
              <div class="header_menucorner2"></div>
              <div class="header_menubox">
                <form name="search1" method="GET" action="{% url 'ranking:search_results' %}">{% csrf_token %}
                  <dl class="search1">
                    <dt><input type="text" name="keyword" maxlength="20" required id="id_Post_name" placeholder="ランキング検索"></dt>
                    <dd><button><span></span></button></dd>
                    <!-- <dd><button type="submit" class="sbtn2"><i class="fas fa-search"></i><span></span></button></dd> -->
                  </dl>
                </form>
                <div class="header_menulist"><a href="{% url 'ranking:index' %}"></a>トップページ</div>
                <div class="header_menulist"><a href ="{% url 'ranking:new' %}"></a>ランキング作成</div>
                {% if user.id %}
                <div class="header_menulist hidden"><a href="{% url 'ranking:userpage' user_id=user.id %}"></a>マイページ</div>
                {% else %}
                <div class="header_menulist hidden"><a href="{%url 'account_login'%}?next={{ request.path }}"></a>ログイン</div>
                {% endif %}
                <div class="header_menuborder"></div>
                <div class="header_menulist"><a href="{% url 'ranking:aboutpage' %}"></a>about</div>
                <div class="header_menulist"><a href="{% url 'ranking:TermsofUse' %}"></a>利用規約・プライバシーポリシー</div>
                <div class="header_menuborder"></div>
                {% if user.username %}
                <div class="header_menulist"><a href="{%url 'account_logout'%}"></a>ログアウト</div>
                {% endif %}
              </div>
              <!--ここまで -->
            </div>
        </div>
        {% if not user.username %}
        <!-- ログインボタン -->
        <div class="header_account_logout">
          <div class="header_username">ログイン</div>
          <a href="{%url 'account_login'%}?next={{ request.path }}"></a>
        </div>
        {% else %}
        <!-- アカウントボタン -->
            {% if user.first_name %}
            <!-- ツイッターユーザー -->
            <div class="header_account">
              <!-- <div class="header_userimg"><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="header_userimg"></div> -->
              <div class="header_username">{{user.first_name|truncatechars:20}}</div>
            <a href="{% url 'ranking:userpage' user_id=user.id %}"></a>
            </div>
            {% else %}
            <!-- くだらんきんぐユーザー -->
            <div class="header_account">
              <div class="header_username">{{user.username|truncatechars:20}}</div>
            <a href="{% url 'ranking:userpage' user_id=user.id %}"></a>
            </div>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
<!-- header終わり -->

<div class="main">

  <div class="category">
    <h2 class="category_title">参加したランキング</h2>
  </div>

  <div class="article_container">

    {% for a in post_rank_list %}
    <article class="article_link"><!-- 記事ひとかたまり。 -->
      {% if a.article.id in article_set %}
      <a href="{% url 'ranking:rankpaged' ranking_id=a.article.id %}">
      {% else %}
      <a href="{% url 'ranking:rankpage' ranking_id=a.article.id %}">
      {% endif %}
      <div class="article_contents">
        <h2 class="article_sentenses article_title">{{a.article.title}}</h2>
        <!-- <p class="article_sentenses article_participants">参加者:{{a.article.Posts.count}}人</p> -->
        <p class="article_sentenses article_participants">順位:{{a.Post_juni}}位</p>
        <p class="article_sentenses article_participants">偏差値:{{a.Post_hensati}}</p>
      </div>
      </a>
    </article>

    {% endfor %}

    <!-- リスト最後尾余白 -->
    <div class="list_end_8px">
    </div>

  </div>

  <!-- ページ切り替えスイッチ部 -->
  <div class="list_switch">
    <div class="list_switch_container">
      {% if page_obj.number != 1 %}
        <div class="listswitch_text"><a href = "?page=1">最前部</a></div>
      {% else %}
        <div class="listswitch_text unclick_gray">最前部</div>
      {% endif %}
      {% if page_obj.has_previous %}
      <div class="listswitch_text"><i class="fas fa-chevron-left"></i><a href = "?page={{ page_obj.previous_page_number }}">前へ</a></div>
      {% else %}
      <div class="listswitch_text unclick_gray"><i class="fas fa-chevron-left"></i>前へ</div>
      {% endif %}
      <!-- クリックができない場合には以上2つの"unclick_gray"を適用したい。これは最前(1)の例だが、最後も同様。 -->
      <div class="listswitch_numberbox">
        <!-- 以下数字リスト。現在いるページにあたる数字には"listswitch_number_now"を指定、文字色及びweightを変更して強調する。 -->
        <div class="listswitch_numbercontainer">
          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <div class="listswitch_number listswitch_number_now">{{ num }}</div>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <div class="listswitch_number"><a href = "?page={{ num }}">{{num}}</a></div>
              {% endif %}
          {% endfor %}
        </div>
        <!-- 数字リストここまで。 -->
        <!-- ページ数が極端に少ない場合(ex.1と2のみ)でも動作する。divを5つ記述する必要はない。 -->
      </div>
      {% if page_obj.has_next %}
        <div class="listswitch_text"><a href = "?page={{ page_obj.next_page_number }}">次へ</a><i class="fas fa-chevron-right"></i></div>
      {% else %}
        <div class="listswitch_text unclick_gray">次へ<i class="fas fa-chevron-right"></i></div>
      {% endif %}
      {% if page_obj.number != paginator.num_pages %}
        <div class="listswitch_text"><a href = "?page={{paginator.num_pages}}">最後部</a></div>
      {% else %}
        <div class="listswitch_text unclick_gray">最後部</div>
      {% endif %}
    </div>
  </div>
  </div>
</body>

</html>
